# Dependencies
node_modules/
npm-debug.log*

# Environment
.env
.env.local
.env.production
.cloudrun.env.json

# Build
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Firebase
firebase-service-account.json
